* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	background-color: #282846;
	color: #d8ebe4;
}
.informationContainer {
	display: flex;
	width: 80%;
	margin: 50px auto;
}
.movieImage {
	margin-right: 40px;
}
p {
	font-size: 20px;
	line-height: 1.7;
	/* text-indent: 30px; */
	letter-spacing: 1.5px;
	white-space: pre-wrap;
	word-spacing: 2px;
}
h2 {
	color: #ffab73;
}

span {
	color: #fce38a;
}

.detailsInnerContainer {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
}

.detailsSubHeading{
  width: 30%;
}
.detailsText{
  width: 130%;
}
